{% load i18n %}

{# Display a randomnly-selected set of photos from a given gallery #}


  <div>
    <h2><a href="{{ album.get_absolute_url }}">{{ album.title }}</a></h2>
    <p class="card-text"><small>Создано {{ album.created_d }}</small></p>
    {% if album.description %}<p>{{ album.description|safe }}</p>{% endif %}
    
    {% for photo in album.sample %}
        <a href="{{ photo.get_absolute_url }}">
             <img src="{{ photo.image.url }}" width="140" height="100" class="thumbnail" alt="{{ photo.title }}">
        </a>
	{% endfor %}
   </div>

