{% extends "gallery/root.html" %}
{% load i18n %}

{% block title %}{% trans "All galleries" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row col-lg-12">
        {% if user.is_authenticated %}
        <div style="float:right;"><a href="{% url 'gallery:album_new' %}" class="btn btn-default">{% trans "Создать альбом" %}</a></div>
        <h1 class="page-header">{% trans "Все альбомы" %}</h1>
        {% else %}
        <h1 class="page-header">{% trans "Все альбомы" %}</h1>
        {% endif %}
    </div>

    {% if object_list %}
        {% for album in object_list %}
            <div class="row col-lg-12">
                <h2><a href="{{ album.get_absolute_url }}">{{ album.title }}</a></h2>
                <p class="muted"><small>{% trans "Создано" %} {{ album.created_d }}</small></p>
                {% if album.description %}<p>{{ album.description|safe }}</p>{% endif %}
                {% for photo in album.sample %}
                    <a href="{{ photo.get_absolute_url }}">
                         <img src="{{ photo.get_thumbnail_url }}" class="thumbnail" alt="{{ photo.title }}">
                    </a>
                {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        <div class="row col-lg-12">{% trans "No galleries were found" %}.</div>
    {% endif %}

    {% include "gallery/includes/paginator.html" %}
  </div>  
{% endblock %}
