{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans with show_day=day|date:"d F Y" %}Альбомы {{ show_day }}{% endblocktrans %}{% endblock %}

{% block content %}

    <div class="row col-lg-12">
        <h1 class="page-header">{% blocktrans with show_day=day|date:"d F Y" %}Альбомы {{ show_day }} года{% endblocktrans %}</h1>
    </div>

    <div class="row col-lg-12">
        {% if object_list %}
            {% for album in object_list %}
                {% include "gallery/includes/gallery_sample.html" %}
            {% endfor %}
        {% else %}
            <p>Не найдено по запросу</p>
        {% endif %}
    </div>
    
    <div><a href="{% url 'gallery:gallery-archive-month' day.year day|date:"m"|lower %}" class="btn btn-default">Все альбомы за месяц</a></div>

{% endblock %}
