{% for field in form %}
<div class="form-group">    
    <div class="">
        <span class="">{{ field.errors }}</span>
    </div>
    <label class="">{{ field.label_tag }}</label>
    <div class="">{{ field }}</div>
</div>
{% endfor %}
