{% extends 'base.html' %}


{% block content %}
<form action="" method="post">{% csrf_token %}
    <p>Вы точно хотите удалить "{{ object }}"?</p>
    <input type="submit" value="Удалить" />
</form>
{% endblock %}
