{% extends 'base.html' %}
{% block title %}Добавить новый Альбом{% endblock %}
{% block gallerys_active %}active{% endblock %}

{% block content %}
<div class="">
    <div class="">
        <div class="">
            <form class="post-form" action="" method="POST">
                {% csrf_token %}
                {% include 'gallery/form-template.html' %}
                
                <div class="form-group">
                    <div class="">
                        <button type="submit" class="">Submit</button>
                    </div>
                </div>
            </form>
        
        </div>
    </div>
</div>
{% endblock %}
