{% extends 'base.html' %}

{% block content %}

    <div class="container">
	<h1>Добро пожаловать</h1>
	<p>
	    Вы можете войти в свой аккаунт!
	</p>
	<h2>Авторизация</h2>
	<form method="post">
	    {% csrf_token %}
	    {{ form.as_p }}
	    <button type="submit">Войти</button>
	</form>
    </div>

{% endblock %}
