{% extends "base.html" %}
{% load staticfiles %}

{% block navbar %}
<nav class="container navbar navbar-default" role="navigation">
      <div class="navbar-header ">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Photologue Demo</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="galleries dropdown">
              <a data-target="#" href="" class="dropdown-toggle" data-toggle="dropdown">
                Gallery views<b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li class="sub-page"><a href="/photologue/gallery/">Date views</a></li>
                <li class="sub-page"><a href="/photologue/gallerylist/">List views</a></li>
              </ul>
            </li>
            <li class="photos dropdown">
              <a data-target="#" href="" class="dropdown-toggle" data-toggle="dropdown">
                Photo views<b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li class="sub-page"><a href="/photologue/photo/">Date views</a></li>
                <li class="sub-page"><a href="/photologue/photolist/">List views</a></li>
              </ul>
            </li>
            <li><a href="/news/">News</a></li>
          </ul>
        </div>
</nav>
{% endblock %}

{% block content %}{% endblock %}
