{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Latest photos" %}{% endblock %}

{% block content %}
  <div class="container">
    <div class="row col-lg-12">
        {% if user.is_authenticated %}
        <div style="float:right;"><a href="{% url 'gallery:photo_new' %}" class="btn btn-default">Добавить фото</a></div>
        <h1 class="page-header">Новые фотографии</h1>
        {% else %}
        <h1 class="page-header">Новые фотографии</h1>
        {% endif %}
    </div>

	<div class="row">
		
		<aside class="col-md-2">

			<h4>Сортировка по годам</h4>
			<ul>
			{% for date in date_list %}
				<li><a href="{% url 'gallery:pl-photo-archive-year' date.year %}">{{ date|date:"Y" }}</a></li>
			{% endfor %}
			</ul>

		</aside>

		<main class="col-md-10">
			
			{% if latest %}
			    {% for photo in latest %}
			        <a href="{{ photo.get_absolute_url }}">
			             <img src="{{ photo.image.url }}" width="140" height="100" class="thumbnail" alt="{{ photo.title }}">
			        </a>
			    {% endfor %}
			{% else %}
				<p>{% trans "No photos were found" %}.</p>
			{% endif %} 
			

		</main>

	</div>
</div>

{% endblock %}


