{% extends "base.html" %}


{% block title %}{{ object.title }}{% endblock %}

{% block content %}

    <div class="row col-lg-12">
        {% if user.is_authenticated %}
        <div class="dropdown" style="float:right; margin-top: 22px;">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Редактировать
                <span class="caret"></span>
            </button>
	    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	        <li><a href="{% url 'gallery:photo_new' %}" >Добавить фото</a></li>
                <li><a href="{% url 'gallery:photo_change' photo.id %}">Изменить фото</a></li>
                <li><a href="{% url 'gallery:photo_delete' photo.id %}">Удалить фото</a></li>
	    </ul>
	</div>        
     
        <h1 class="page-header">{{ object.title }}</h1>
        <p class="muted"><small>Создана {{ object.created_d }}</small></p>
        {% else %}
        <h1 class="page-header">{{ object.title }}</h1>
        <p class="muted"><small>Создана {{ object.created_d }}</small></p>
        {% endif %}
        
    </div>

    <div class="row">
        <div class="col-md-6">
		    {% if object.caption %}<p>{{ object.caption|safe }}</p>{% endif %}


		<div class="thumbnail">
		    <a href="{{ object.image.url }}">
		        <img src="{{ object.image.url }}" class="img-responsive" alt="{{ object.title }}">
		    </a>
		</div>
        </div>
        <div class="col-md-6">
            {% if object.albums %}
                <p>Еще фотографии:</p>
                <table>
                    {% for album in albums %}
                        <tr>
                            <td>{% include previous_in_album.html %}</td>
	                        <td class="text-center"><a href="{{ album.get_absolute_url }}">{{ album.title }}</a></td>
	                        <td>{% include next_in_album.html %}</td>
                        </tr>
					{% endfor %}
				</table>
			{% endif %}
        </div>
    </div>

{% endblock %}
