{% extends 'base.html' %}

{% block content %}
   <h1>Добавить новое фото</h1>
   <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
       {{ form.as_p }}
       <button type="submit" class="save btn btn-default">Сохранить</button>
   </form>
{% endblock %}
