.custom_bg {
 position:fixed;
 left:0;
 top:0;
 width:100%;
 height:auto;
 display:block;
 z-index:-1;
 background-position:center;
}
.port_post .custom_bg {
 background:#000000;
}
.custom_bg.img_bg {
 background-size:cover;
}

.def_img {
 background-image:url(../background-01-1920x900.jpg);
}

.opacity0 {
 opacity:0;
}
