<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap3 %}
<html{% if LANGUAGE_CODE %} lang="{{ LANGUAGE_CODE }}"{% endif %}>

<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block bootstrap3_title %}Фотоальбом{% endblock %}</title>
    {% bootstrap_css %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static '112.css' %}" type="text/css">
    {% if 'javascript_in_head'|bootstrap_setting %}{% bootstrap_javascript jquery=True %}{% endif %}
    {% block bootstrap3_extra_head %}{% endblock %}
</head>

<body class="photologue-page">

<nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header ">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Фотоальбом</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Главная</a></li>
            <li class="galleries dropdown">
              <a data-target="#" href="" class="dropdown-toggle" data-toggle="dropdown">
                Альбомы<b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li class="sub-page"><a href="/album/">Новые альбомы</a></li>
                <li class="sub-page"><a href="/albumlist/">Список всех альбомов</a></li>
              </ul>
            </li>
            <li class="photos dropdown">
              <a data-target="#" href="" class="dropdown-toggle" data-toggle="dropdown">
                Фотографии<b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li class="sub-page"><a href="/photo/">Новые фото</a></li>
                <li class="sub-page"><a href="/photolist/">Список всех фотографии</a></li>
              </ul>
            </li>        
          </ul> 
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li class="galleries dropdown"><a data-target="#" href="" class="dropdown-toggle" data-toggle="dropdown">User: {{ user.username }}<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="sub-page"><a href="{% url 'gallery:album_new' %}">Создать альбом</a></li>
                <li class="sub-page"><a href="{% url 'gallery:photo_new' %}" >Добавить фото</a></li>
              </ul>
            </li>
            <li><a href="/accounts/logout/">Выход</a></li>
            {% else %}
            <li><a href="/register/">Регистрация</a></li>
            <li><a href="/accounts/login/">Войти</a></li>            
            {% endif %}            
          </ul>            
        </div>
  </div>
</nav>

    <div class="container">
    {% block content %}{% endblock %}
    </div>
<br>
<br>

      <footer class="container">
        <div class="row">
            <ul class="list-unstyled">
              <li class="pull-left">
                <a href="http://validator.w3.org/check?uri=referer" title="This page uses valid HTML5">
                  <img src=""
                    alt="Valid HTML5!" height="32" width="32" />
                </a>
              </li>
              <li class="pull-right"><a href="#top">Back to top</a></li>
              <li class="text-center small">&copy; 2014-2017</li>
            </ul>
        </div>
      </footer>

    </div> <!-- /container -->

{% block bootstrap3_content %}{% endblock %}
{% if not 'javascript_in_head'|bootstrap_setting %}{% bootstrap_javascript jquery=True %}{% endif %}
{% block bootstrap3_extra_script %}{% endblock %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>

<script type="text/javascript" src=""></script>

    
  
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-1566436-16', 'auto');
		ga('send', 'pageview');
	</script>
      </div>
    </div>
  </body>
</html>



